<!DOCTYPE html>
<html>
<head>
  <title>TodoRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<%= link_to "Home", root_path %>
<%= link_to "New Item/List", new_item_path %>
<%= link_to "All Lists", lists_path %>
<%= link_to "All Items", items_path %>


<%= yield %>

</body>
</html>
